# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\golsh\Documents\Monash\Year two\Sem 2\Events\Hacksprint\HackSprint\hackathon_med_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
